config.isr.isBackgroundSubtracted=True
config.charImage.doApCorr=False
config.charImage.repair.interp.modelPsf.defaultFwhm=5
config.charImage.repair.cosmicray.nCrPixelMax=10000
config.charImage.installSimplePsf.width=31
config.charImage.installSimplePsf.fwhm=11
config.charImage.detection.thresholdType='pixel_stdev'
config.calibrate.doApCorr=False
